<div
  id="maillist"
  style="
    border: 1px solid #ccc;
    padding: 3px;
    text-align: center;
    margin-top: 25px;
  "
>
  <form
    action="https://tinyletter.com/rodey"
    method="post"
    target="popupwindow"
    onsubmit="window.open('https://tinyletter.com/rodey', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true"
  >
    <div style="margin: auto; width: 360px; font-size: small">
      <label for="tlemail"
        >Hey, I write about things at the intersection of software engineering
        and leadership. Add your email to get notified when new posts are
        published.</label
      >
    </div>
    <p><input type="text" style="width: 140px" name="email" id="tlemail" /></p>
    <input type="hidden" value="1" name="embed" /><input
      type="submit"
      value="Subscribe"
    />
    <p style="font-size: x-small">
      <a href="https://tinyletter.com" target="_blank">powered by TinyLetter</a>
    </p>
  </form>
</div>
