---
layout: default
---

<div
  id="social-cta"
  style="
    border: 1px solid #ccc;
    padding: 15px;
    width: 75%;
    margin: auto;
    text-align: center;
  "
>
  <p>
    On Twitter/X I post focused content on software engineering and leadership.
    Where did I get it right? Where did I get it wrong? Let me know.
  </p>
  <p>
    <a href="https://www.twitter.com/RyanRodemoyer2">Follow me on Twitter/X</a>
  </p>
</div>

<article class="post">
  <h1>{{ page.title }}</h1>

  <div class="entry">{{ content }}</div>

  <div class="date">Published on {{ page.date | date: "%B %e, %Y" }}</div>
</article>
